<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{{ page.title }}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{{ page.description }}{% endblock %}" />
        <meta name="title" content="{% block meta_title %}{{ page.title }}{% endblock %}" />
        <meta name="author" content="{% block meta_author %}{{ page.author }}{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="/assets/favicon.png" />
        {% block opengraph %}
            <meta property="og:type" content="{% block og_type %}website{% endblock %}" />
            <meta name="og:title" property="og:title" content="{{ page.title }}" />
            <meta name="og:description" property="og:description" content="{{ page.description }}" />

        {% endblock %}
        {% block additional_headers %}{% endblock %}
    </head>
    <body>
        {% block content %}
            <h1>Coucou</h1>
        {% endblock %}
        <h2>Test</h2>
    </body>
</html>