<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin</title>
        <meta name="description" content="" />
        <meta name="title" content="CMS Admin" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="{{ STATIC_PREFIX }}/img/favicon.png" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        {% block additional_headers %}{% endblock %}
    </head>
    <body>
        <div id="root"></div>
        <script type="text/javascript" src="{{ STATIC_PREFIX }}bundle.js"></script>
    </body>
</html>