html {
    height:100%;
    overflow:hidden;
}

body {
    margin:0;
    height:100%;
}

#root {
    height:100%;
}

.ReactCodeMirror {
    height:50%;
    overflow-y:scroll;
}

.capitalize {
    text-transform: capitalize;
}

.ReactCodeMirrorPreview {
    display: block;
    width: 100%;
    height:50%;
    overflow-y:scroll;
    border: none;

    -ms-zoom: 0.75;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
}

.ReactCodeMirror {
    .CodeMirror {
        height:auto;
    }
    &.disabled {
        .CodeMirror {
            .CodeMirror-line {
                opacity: 0.5;
            }
        }
    }
}

.syntax-error {
    background-color: red;
}

.MuiListItem-root.page-list-item {
    justify-content: space-between;
}

 .main-layout-column.MuiGrid-item {
    max-height: 100%;
    overflow-y: auto;
}

.settings-form {
    margin-left: -20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .settings-field {
        margin-left: 20px;
        flex: 1 0 auto;
    }
}

.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft {
    top: 64px;
    padding-bottom: 64px;
    box-sizing: border-box;
    align-items: center;
}

.page-list {
    &-app-title {
        display: flex;
        justify-content: space-between;
        padding: 10px 0 0 10px;
    }
    &-item, &-app-title {
        &-savebtn {
            transition: opacity 1s ease-in-out;
            &.not-loading.Mui-disabled {
                opacity: 0.0;
            }
        }
    }
    &-url {
        font-variant: small-caps;
    }
}

.btn-spinner {
    margin-left: 10px;
    vertical-align: middle;
}